<form [formGroup]="changePasswordForm" (ngSubmit)="formSubmit()">
    <div class="form-group">
        <label for="oldPassword">Old Password</label>
        <input 
        formControlName="oldPassword"
        name="oldPassword"
        id="oldPassword"
        type="password"
        class="form-control"
        (change)="oldPasswordChange(oldPassword)">
        <div *ngIf="oldPassword.pending">Checking for Old Password Validity</div>
        <div 
        class="alert alert-danger" 
        *ngIf="oldPassword.invalid && oldPassword.touched">
         <div *ngIf="oldPassword.errors.required">Old Password is required</div>
         <div *ngIf="oldPassword.errors.invalidPassword">Old Password is not valid</div>
        </div>
    </div>
    <div class="form-group">
        <label for="newPassword">New Password</label>
        <input 
        formControlName="newPassword"
        name="newPassword"
        id="newPassword"
        type="password"
        class="form-control">
        <div class="alert alert-danger" *ngIf="newPassword.touched && newPassword.invalid">
            <div *ngIf="newPassword.errors.required">New Password is required</div>
            <div *ngIf="newPassword.errors.minlength">New Password should be {{ newPassword.errors.minlength.requiredLength }} Characters</div>
            <div *ngIf="newPassword.errors.maxlength">New Password should be {{ newPassword.errors.maxlength.requiredLength }} Characters</div>
        </div>
    </div>

    <div class="form-group">
        <label for="confirmPassword">Confrim Password</label>
        <input 
        formControlName="confirmPassword"
        name="confirmPassword"
        id="confirmPassword"
        type="password"
        class="form-control">
        <div class="alert alert-danger" *ngIf="confirmPassword.touched && confirmPassword.invalid">
            <div *ngIf="confirmPassword.errors.required">Confirm Password is required</div>
            <div *ngIf="confirmPassword.errors.minlength">Confirm Password should be {{ confirmPassword.errors.minlength.requiredLength }} Characters</div>
            <div *ngIf="confirmPassword.errors.maxlength">Confirm Password should be {{ confirmPassword.errors.maxlength.requiredLength }} Characters</div>
        </div>
        <div class="alert alert-danger" *ngIf="confirmPassword.touched && changePasswordForm.invalid && changePasswordForm.errors.passwordMisMatch">Confirm and New Password doesn't match</div>
    </div>

    <button class="btn btn-primary" [disabled]="changePasswordForm.invalid &&  changePasswordForm.touched">Submit</button>

</form>